<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/About.css">
    <link rel="stylesheet" href="../static/Navbar.css">
    <link rel="stylesheet" href="../static/Footer.css">
    <title>Document</title>
</head>
<nav>
  <img src="../static/hidden.svg" alt="Logo" />
  <ul>
    <li><a href="{{url_for('App')}}">Home</a></li>
    <li><a href="{{url_for('About')}}">About</a></li>
    <li><a href="{{url_for('Team')}}">Team</a></li>
  </ul>
</nav>
<div class="About">
  <header class="About-header">
    <img src="../static/hibc.png" class="About-logo" alt="logo" />
  </header>
  <body>

  <div class='about'>
    <p>
      Have you ever wondered if your password has been leaked in any data breaches? Our website helps you find out if your password has been compromised in any data breaches.
    </p>
    <p>
      We use the latest technology to constantly monitor for new data breaches and update our database. Our algorithm then checks your password against this database, ensuring that you are always up to date on the security of your password.
    </p>
    <p>
      Keep your online accounts secure and protected by regularly checking if your password has been leaked with us.
    </p>
</div>


</body>
</div>
<footer>
  <a href="https://darknetdiaries.com/episode/">Darknet Diaries</a>
  <a href="#">Have I Been Pwned</a>
  <a href="#"></a>
  <p>Copyright &copy; {new Date().getFullYear()}</p>
</footer>
</html>