<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/App.css">
    <link rel="stylesheet" href="../static/Navbar.css">
    <link rel="stylesheet" href="../static/Footer.css">
    <title>Document</title>
</head>
<body>
  <nav>
    <img src="../static/hidden.svg" alt="Logo" />
    <ul>
      <li><a href="{{ url_for('App') }}">Home</a></li>
      <li><a href="{{url_for('About')}}">About</a></li>
      <li><a href="{{url_for('Team')}}">Team</a></li>
    </ul>
  </nav>

  <div class="App">
    <header class="App-header">
      <img src="../static/hibc.png" class="App-logo" alt="logo" />
    </header>

    <div class='cracked'>
      <form class='input' method="POST">
        <label>
          <input type="text" placeholder="password" name="password" />
        </label>
        <input type="submit"  value="cracked?" />
      </form>
    </div>

  </div>

  <footer>
    <a href="https://darknetdiaries.com/episode/">Darknet Diaries</a>
    <a href="#">Have I Been Pwned</a>
    <a href="#"></a>

  </footer>

</body>
</html>
