<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/App.css">
    <title>Document</title>
</head>
<div class="App">
    <header class="App-header">
      <img src="static/hibc.png" class="App-logo" alt="logo" />
    </header>
    <body>

      <div class='cracked'>
      <form class='input' method="POST">
        <label >
        <input type="text" placeholder="password" name="password" />
        </label>
        <input type="submit"  value="cracked?" />
      </form>
      </div>
      

    </body>
</div>
</html>