<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/Footer.css">
    <title>Document</title>
</head>
<footer>
    <a href="https://darknetdiaries.com/episode/">Darknet Diaries</a>
    <a href="#">Have I Been Pwned</a>
    <a href="#"></a>
    <p>Copyright &copy; {new Date().getFullYear()}</p>
  </footer>
</html>