<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Navbar.css">
    <title>Document</title>
</head>
<nav>
    <img src="../static/hidden.svg" alt="Logo" />
    <ul>
      <li><a href="App.html">Home</a></li>
      <li><a href="About.html">About</a></li>
      <li><a href="Team.html">Team</a></li>
    </ul>
</nav>
</html>