<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Team.css">
    <link rel="stylesheet" href="../static/Navbar.css">
    <link rel="stylesheet" href="../static/Footer.css">
    <title>Document</title>
</head>
<nav>
  <img src="../static/hidden.svg" alt="Logo" />
  <ul>
    <li><a href="{{url_for('App')}}">Home</a></li>
    <li><a href="{{url_for('About')}}">About</a></li>
    <li><a href="{{url_for('Team')}}">Team</a></li>
  </ul>
</nav>
<div className="Team">
    <h1 className="Team-header">Meet Our Team</h1>
    <div className="Team-members">
      {teamMembers.map(member => (
        <div className="Team-member">
          <img src={member.image} alt={`${member.name} headshot`} className="Team-member-image" />
          <h2 className="Team-member-name">{member.name}</h2>
          <p className="Team-member-position">{member.position}</p>
        </div>
      ))}
    </div>
</div>
<footer>
  <a href="https://darknetdiaries.com/episode/">Darknet Diaries</a>
  <a href="#">Have I Been Pwned</a>
  <a href="#"></a>
  <p>Copyright &copy; {new Date().getFullYear()}</p>
</footer>
</html>