.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  width: 90vh;
  height: 50vh;

}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #c77dff;
  
}

.cracked {
  padding: 6vh;
  background-color: #7b2cbf;
  min-height: 12vh;
}


.input input[type="text"] {
  width: 60vh;
  height: 6vh;
  font-size: 5vh;
  padding: 1vh;
  border-top-left-radius: 1.33vh;
  border-bottom-left-radius: 1.33vh;
}

.input input[type="text"]::placeholder {
  font-size: 5vh;
  justify-content:center;
}

.input input[type="submit"] {
  width: 25vh;
  height:8.5vh;
  font-size: 5vh;
  padding: 1vh;
  margin-top: 2vh;
  border-top-right-radius: 1.33vh;
  border-bottom-right-radius: 1.33vh;
  background: linear-gradient(to left, #5a189a, #240046, #10002b);
  color: white;
}
